i{
  color: rgb(194, 194, 194);
  font-size: 50px;
}
i:hover{
  color: rgb(141, 141, 141);
  cursor:  pointer;
}
i:active{
  color: rgb(141, 141, 141);

  text-shadow: 0px 1px 5px rgba(0,0,0, 0.6)
}
i#selected{
  text-shadow: 0px 0px 5px #000
}